@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 100% 15%;

    --card: 0 0% 100%;
    --card-foreground: 210 100% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 100% 15%;

    --primary: 210 100% 15%;
    --primary-foreground: 0 0% 100%;

    --secondary: 330 20% 90%;
    --secondary-foreground: 210 100% 15%;

    --muted: 330 20% 90%;
    --muted-foreground: 250 4% 54%;

    --accent: 357 75% 51%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 330 20% 90%;
    --input: 330 20% 90%;
    --ring: 210 100% 15%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 210 100% 15%;
    --foreground: 0 0% 100%;

    --card: 210 100% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 210 100% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 210 100% 15%;

    --secondary: 250 4% 54%;
    --secondary-foreground: 0 0% 100%;

    --muted: 250 4% 54%;
    --muted-foreground: 330 20% 90%;

    --accent: 357 75% 51%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 250 4% 54%;
    --input: 250 4% 54%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
